<%- include header %>
<form method="post" >
  <scan>小区名</scan><br />
  <input type="text" name="area" /><br />
   单元名<br />
  <input type="text" name="unit" /><br />
   业主名<br />
  <input type="text" name="name" /><br />
  电表开始码：<br />
  <input type="text" name="start" /><br />
  电表终止码：<br />
  <input type="text" name="end" /><br />
  电费单价：<br />
  <input type="text" name="price" /><br />
  <input  class="secondary-button pure-button" type="submit" value="上报" />
</form>
<%- include footer %>